<ion-view hide-nav-bar="true">
        <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide>
           
            <div id="logo">
              <img src="./img/logo.png">
            </div>
             <h3>欢迎使用山寨头条!</h3>
          </ion-slide>
          <ion-slide>
            <h3>没看错!</h3>
            
            <div id="list">
              <h5>这就是个山寨头条!</h5>
              <ol>
                <li>免费的API;</li>
                <li>新闻页面有广告;</li>
                <li>不能评论...</li>
              </ol>
            </div>
          </ion-slide>
          <ion-slide>
            <h3>准备好了?</h3>
            <p class="text-center">

              <button class="button button-outline button-positive" ng-click="goMain()">
                开车
              </button>
            </p>
          </ion-slide>
        </ion-slide-box>
</ion-view>