<ion-view view-title="山寨头条">
  <ion-content class="padding">
    <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()" refreshing-text="拼命加载中 ..." refreshing-icon="ion-loading-b"></ion-refresher>
    <label class="item item-input item-select">
      <div class="input-label">新闻分类选择栏===> </div>
        <select ng-model="type" ng-options="type.id as type.name for type in types " ng-change="update(type)">
          <option ng-repeat="type in types" value="{{type.id}}" >{{type.name}}</option>
        </select>
    </label>
      <ion-list>
          <a ng-if="items" ng-repeat="p in items | orderBy:'-date'" class="item item-thumbnail-left" href="javascript:void(0);" ng-click="openUrl(p.url,false)">
            <img ng-src="{{p.thumbnail_pic_s}}">
            <h2 ng-if="p.title">{{p.title}}</h2>
            <p>{{p.author_name}}</p>
            <p>{{p.date}}</p>
          </a>
      </ion-list>
  </ion-content>
</ion-view>